@CHARSET "UTF-8";


body {
	margin: 0px;
	padding: 0px;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444444;
}

#main
{
	margin:auto;
}

#header
{
	background-repeat:repeat-x;
	background-color:#3333FF;
	height:98px;
	margin-top:0px;
	float: left;
	position:relative;
	width: 100%;
}

#header2
{
	background-repeat:no-repeat;
	float:left;
	width:577px;
	height:100%;	
	position:relative;
}

#message
{
	
	width: 400px;
	height: 70px;
	position: absolute;
	background-color: white;
	right: 0 !important;
    margin-top: 30px !important;
	margin-right: 0px !important;
	
}



#wrapper {
}
#content {
  float: right;
  width: 100%;
  background-color: #CCF;
}
#sidebar {
  float: left;
  width: 100%;
  height:100%;
  background-color: #3333FF;
}
#cleared {
  clear: both;
}


.saat
{
	z-index: 999;
	position: absolute;
	right: 0 !important;
    margin-top: 0px !important;
	margin-right: 0px !important;
}

.green.ui-datatable { background: green !important ;;}

.red.ui-datatable {background: red !important ;;}

.yellow.ui-datatable {background: yellow !important ;;}

.white.ui-datatable {background: white !important ;;}
